.vt323-regular {
  font-family: "VT323", serif;
  font-weight: 400;
  font-style: normal;
}
#bg-video{
  position:fixed;
  top:0;
  left:0;
  width: 100vw; /*use viewport width to make the background responsive*/
  height: 100vh; /*use viewport height to make the background responsive*/
  object-fit: cover;
  z-index:-1; /*ensures that the background video does not cover anything */
  opacity: 0.75;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(21, 1, 39, 0.75); /* Adjust the opacity here */
  z-index: 0; /* Make sure it is above the video but below the content */
}
.content{
  position:fixed;
  z-index:1;
}
.App-header{
  position:relative;
  top:0;
  z-index:1;

  padding-top:2%;
}
.App-header h1{
  margin:0 0 0 2%;
  opacity:100%;
  color:white;
  padding:0 1% 0 1%;
  text-align:left;
  font-family: 'VT323';
  font-size:4rem;
  letter-spacing:0.2rem;
  color:#831083;
  white-space: nowrap; /* Prevents text from wrapping */
  overflow: hidden; /*Hides text initially*/
  border-right: 0.05em solid orange; /* Adds a cursor effect */
  animation: typing 3s steps(30, end), blink-caret 1s step-end infinite;
  width: 9ch; 
}
@keyframes typing {
  from { width: 0; }
  to { width: 9ch; }
}

/* Blinking cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: rgb(250, 166, 243); }
}